<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_common}">

<!--현재 페이지에서 쓰이는 스크립트-->
<th:block layout:fragment="script">
  <!-- Ekko Lightbox -->
  <script src="/plugins/ekko-lightbox/ekko-lightbox.min.js"></script>
  <!-- Filterizr-->
  <script src="/plugins/filterizr/jquery.filterizr.min.js"></script>

  <!--  컴포넌트의 동작에 필요한 인라인 스크립트-->
  <script th:inline="javascript">
    $(function(){
      $("#profileImg").click(function(){
        $('#imgUpload').click();
        $('#imgBtn').css('display', 'block');
      });
    });
    $(function() {
      $.ajax({
        url: "/class/seats",
        type: "POST",
        dataType: "json",
        cache: false,
        success: function(result) {
          let seatA = 'span#seatA-';
          let seatB = 'span#seatB-';
          var dataA = result.dataA;
          var dataB = result.dataB;
          $.each(dataA, function (index, item) {
            var seat = seatA + item.seat;
            $(seat).text(item.name);
            $(seat).css("color", "black");
            $(seat).data("sid", item.id);
          });
          $.each(dataB, function (index, item) {
            var seat = seatB + item.seat;
            $(seat).text(item.name);
            $(seat).css("color", "black");
            $(seat).data("sid", item.id);
          });
          // alert($('span#seatA-1').data('sid'));
        }
      })
    })
    $(".background-wrap").on("click", function() {
      var id = $(this).children().children().data('sid');
      if(id != null) {
        initModal();
        infoModal(id);
        $('#Mname').data("sid", id);
        $('#galleryModal').modal();
      }
    })
    function infoModal(id) {
      var url = "/class/detail/" + id;
      $.ajax({
        url: url,
        type: "GET",
        dataType : "json",
        cache   : false,
        success  : function(data){
          var source = '/image/'+data.image;
          $('#profileImg').attr('src', source);
          $('#Mname').text(' ' + data.student.name);
          $('#Mbirth').text(' ' + data.student.birth);
          $('#Mphone').text('' + data.student.phone);
          $('#Memail').text(' ' + data.student.email);
          $('#Mresidence').text(' ' + data.student.residence);
          $('#Mbelong').text(' ' + data.student.belong);
          $('#Mmajor').text(' ' + data.student.major);
          $('#Mgraduate').text(' ' + data.student.graduate);
          $('#Mstart').text(' ' + data.student.start);
          $('#Mnote').text(' ' + data.student.note);
        },
      });
    }
    function initModal() {
      $('#Mname').text('');
      $('#Mbirth').text('');
      $('#Mphone').text('');
      $('#Memail').text('');
      $('#Mresidence').text('');
      $('#Mbelong').text('');
      $('#Mmajor').text('');
      $('#Mgraduate').text('');
      $('#Mstart').text('');
      $('#Mnote').text('');
    }
    function upload() {
      const imgUpload = $('#imgUpload')[0];
      if(imgUpload.files.length === 0) {
        alert("파일을 선택해주세요");
        return;
      }
      const formData = new FormData();
      formData.append("img", imgUpload.files[0]);
      var id = $('#Mname').data("sid");
      $.ajax({
        type: 'POST',
        url: '/class/profileImg/' + id,
        enctype: 'multipart/form-data',
        cache: false,
        processData: false,
        contentType: false,
        data: formData,
        success: function(result) {
          var source = '/image/'+result.oriImgName;
          $('#profileImg').attr('src', source);
          $('#imgBtn').css('display', 'none');
        },
      })
    }
  </script>
</th:block>

<!--현재 페이지에서 쓰이는 스타일시트-->
<th:block layout:fragment="css">
  <!-- Ekko Lightbox -->
  <link rel="stylesheet" href="/plugins/ekko-lightbox/ekko-lightbox.css">
  <!--  컴포넌트의 동작에 필요한 인라인 css-->
  <style th:inline="css">
    .background-wrap:hover {
      background-image: url('/image/seatHover.png');
    }
    .background-wrap {
      background-image: url('/image/seatDefault.png');
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
    .content {
      display: flex;
      flex-direction: column;
    }
    .content span {
      color: gray;
    }
    .content span:nth-child(1) {
      font-size: 15px;
      font-weight: bold;
    }
    #uploadForm {
      display: none;
    }
    #imgBtn {
      display: none;
    }
  </style>
</th:block>

<th:block layout:fragment="content">
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>자리배치도</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">홈</a></li>
              <li class="breadcrumb-item active">강의실 자리배치도</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="card card-dafault">
              <div class="card-header">
                <h4 class="card-title">A반 자리배치도</h4>
              </div>
              <div class="card-body">
                <div class="filter-container-fluid" id="seatsA">
                  <div class="row justify-content-center"><h3>전면 칠판</h3></div>
                  <hr>
                  <div class="row pb-1" id="arow1">
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatA-1">공석</span>
                            </div>
                          </div>
                        </div>
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatA-2">공석</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatA-3">공석</span>
                            </div>
                          </div>
                        </div>
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatA-4">공석</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row pb-1" id="arow2">
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatA-5">공석</span>
                            </div>
                          </div>
                        </div>
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatA-6">공석</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatA-7">공석</span>
                            </div>
                          </div>
                        </div>
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatA-8">공석</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-5" id="arow3">
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatA-9">공석</span>
                            </div>
                          </div>
                        </div>
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatA-10">공석</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatA-11">공석</span>
                            </div>
                          </div>
                        </div>
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatA-12">공석</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row pb-1" id="arow4">
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatA-13">공석</span>
                            </div>
                          </div>
                        </div>
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatA-14">공석</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatA-15">공석</span>
                            </div>
                          </div>
                        </div>
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatA-16">공석</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-5" id="arow5">
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatA-17">공석</span>
                            </div>
                          </div>
                        </div>
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatA-18">공석</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatA-19">공석</span>
                            </div>
                          </div>
                        </div>
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatA-20">공석</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row pb-1" id="arow6">
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatA-21">공석</span>
                            </div>
                          </div>
                        </div>
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatA-22">공석</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatA-23">공석</span>
                            </div>
                          </div>
                        </div>
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatA-24">공석</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row pb-1" id="arow7">
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatA-25">공석</span>
                            </div>
                          </div>
                        </div>
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatA-26">공석</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatA-27">공석</span>
                            </div>
                          </div>
                        </div>
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatA-28">공석</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row pb-1" id="arow8">
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatA-29">공석</span>
                            </div>
                          </div>
                        </div>
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatA-30">공석</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row pb-1">
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatA-31">공석</span>
                            </div>
                          </div>
                        </div>
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatA-32">공석</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row justify-content-center pt-1"><h3>후면 칠판</h3></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-dafault">
              <div class="card-header">
                <h4 class="card-title">B반 자리배치도</h4>
              </div>
              <div class="card-body">
                <div class="filter-container-fluid">
                  <div class="row justify-content-center"><h3>전면 칠판</h3></div>
                  <hr>
                  <div class="row pb-1" id="brow1">
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatB-1">공석</span>
                            </div>
                          </div>
                        </div>
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatB-2">공석</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatB-3">공석</span>
                            </div>
                          </div>
                        </div>
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatB-4">공석</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row pb-1" id="brow2">
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatB-5">공석</span>
                            </div>
                          </div>
                        </div>
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatB-6">공석</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatB-7">공석</span>
                            </div>
                          </div>
                        </div>
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatB-8">공석</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-5" id="brow3">
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatB-9">공석</span>
                            </div>
                          </div>
                        </div>
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatB-10">공석</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatB-11">공석</span>
                            </div>
                          </div>
                        </div>
                        <div class="filtr-item col-sm-6 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatB-12">공석</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-center pb-1" id="brow4">
                    <div class="col-sm-6">
                      <div class="row justify-content-center">
                        <div class="filtr-item col-sm-4 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatB-13">공석</span>
                            </div>
                          </div>
                        </div>
                        <div class="filtr-item col-sm-4 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatB-14">공석</span>
                            </div>
                          </div>
                        </div>
                        <div class="filtr-item col-sm-4 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatB-15">공석</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-center pb-1" id="brow5">
                    <div class="col-sm-6">
                      <div class="row justify-content-center">
                        <div class="filtr-item col-sm-4 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatB-16">공석</span>
                            </div>
                          </div>
                        </div>
                        <div class="filtr-item col-sm-4 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatB-17">공석</span>
                            </div>
                          </div>
                        </div>
                        <div class="filtr-item col-sm-4 text-on-img">
                          <div class="background-wrap">
                            <div class="content">
                              <span id="seatB-18">공석</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row justify-content-center pt-1"><h3>후면 칠판</h3></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <div id="galleryModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="text-center mb-0 text-muted">info</h3>
          <button type="button" class="close float-right" aria-label="Close" data-dismiss="modal">
            <span aria-hidden="true">&#xD7;</span>
          </button>
        </div>
        <div class="modal-body text-center bg-alt p-5">
          <div class="row">
            <div class="col-5 text-center align-self-center">
              <form id="uploadForm" enctype="multipart/form-data">
                <input id="imgUpload" type="file" name="img">
              </form>
              <img id="profileImg" src="/image/gray.png" alt="사진" class="img-circle img-fluid mb-3">
              <h2 class="lead"><b id="Mname"></b></h2>
              <button id="imgBtn" class="btn btn-info btn-sm" onclick="upload()">이미지 적용</button>
            </div>
            <div class="col-7">
              <p class="text-muted text-sm"><b>생년월일: </b><span id="Mbirth"></span></p>
              <p class="text-muted text-sm"><span><i class="fas fa-lg fa-phone"></i></span><span id="Mphone"></span></p>
              <p class="text-muted text-sm"><span><i class="fas fa-envelope"></i></span><span id="Memail"></span></p>
              <p class="text-muted text-sm"><b>거주지: </b><span id="Mresidence"></span></p>
              <p class="text-muted text-sm"><b>소속: </b><span id="Mbelong"></span></p>
              <p class="text-muted text-sm"><b>전공: </b><span id="Mmajor"></span></p>
              <p class="text-muted text-sm"><b>최종 학력: </b><span id="Mgraduate"></span></p>
              <p class="text-muted text-sm"><b>수강시작일: </b><span id="Mstart"></span></p>
              <p class="text-muted text-sm"><b>특이사항: </b><span id="Mnote"></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</th:block>
</html>
