<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_common}">

<!--현재 페이지에서 쓰이는 스크립트-->
<th:block layout:fragment="script">
  <!-- Ekko Lightbox -->
  <script src="/plugins/ekko-lightbox/ekko-lightbox.min.js"></script>
  <!-- Filterizr-->
  <script src="/plugins/filterizr/jquery.filterizr.min.js"></script>
  <!--  컴포넌트의 동작에 필요한 인라인 스크립트-->
  <script th:inline="javascript">
    $(function () {
      $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox({
          alwaysShowClose: true
        });
      });
    })
    function infoModal(obj) {
      $('#galleryModal').modal();
    }
  </script>
</th:block>

<!--현재 페이지에서 쓰이는 스타일시트-->
<th:block layout:fragment="css">
  <!-- Ekko Lightbox -->
  <link rel="stylesheet" href="/plugins/ekko-lightbox/ekko-lightbox.css">
</th:block>

<th:block layout:fragment="content">
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>자리배치도</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">홈</a></li>
              <li class="breadcrumb-item active">강의실 자리배치도</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="card card-dafault">
              <div class="card-header">
                <h4 class="card-title">A반 자리배치도</h4>
              </div>
              <div class="card-body">
                <div class="filter-container-fluid">
                  <div class="row justify-content-center" id="arow1">
                    <div class="col-sm-6">
                      <div class="row justify-content-center">
                        <div class="filtr-item col-sm-3" data-category="1" data-sort="white sample">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=1" class="img-fluid mb-2" alt="black sample"/>
                          </a>
                        </div>
                        <div class="filtr-item col-sm-3" data-category="2, 4" data-sort="black sample">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=2" class="img-fluid mb-2" alt="black sample"/>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row justify-content-center">
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=3" class="img-fluid mb-2"/>
                          </a>
                        </div>
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=4" class="img-fluid mb-2"/>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-center" id="arow2">
                    <div class="col-sm-6">
                      <div class="row justify-content-center">
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=5" class="img-fluid mb-2"/>
                          </a>
                        </div>
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=6" class="img-fluid mb-2"/>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row justify-content-center">
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=7" class="img-fluid mb-2"/>
                          </a>
                        </div>
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=8" class="img-fluid mb-2"/>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-center mb-5" id="arow3">
                    <div class="col-sm-6">
                      <div class="row justify-content-center">
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=9" class="img-fluid mb-2"/>
                          </a>
                        </div>
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=10" class="img-fluid mb-2"/>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row justify-content-center">
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=11" class="img-fluid mb-2"/>
                          </a>
                        </div>
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=12" class="img-fluid mb-2"/>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-center" id="arow4">
                    <div class="col-sm-6">
                      <div class="row justify-content-center">
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=13" class="img-fluid mb-2"/>
                          </a>
                        </div>
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=14" class="img-fluid mb-2"/>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row justify-content-center">
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=15" class="img-fluid mb-2"/>
                          </a>
                        </div>
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=16" class="img-fluid mb-2"/>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-center mb-5" id="arow5">
                    <div class="col-sm-6">
                      <div class="row justify-content-center">
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=17" class="img-fluid mb-2"/>
                          </a>
                        </div>
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=18" class="img-fluid mb-2"/>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row justify-content-center">
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=19" class="img-fluid mb-2"/>
                          </a>
                        </div>
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=20" class="img-fluid mb-2"/>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-center" id="arow6">
                    <div class="col-sm-6">
                      <div class="row justify-content-center">
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=21" class="img-fluid mb-2"/>
                          </a>
                        </div>
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=22" class="img-fluid mb-2"/>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row justify-content-center">
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=23" class="img-fluid mb-2"/>
                          </a>
                        </div>
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=24" class="img-fluid mb-2"/>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-center" id="arow7">
                    <div class="col-sm-6">
                      <div class="row justify-content-center">
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=25" class="img-fluid mb-2"/>
                          </a>
                        </div>
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=26" class="img-fluid mb-2"/>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row justify-content-center">
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=27" class="img-fluid mb-2"/>
                          </a>
                        </div>
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=28" class="img-fluid mb-2"/>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-center" id="arow8">
                    <div class="col-sm-6">
                      <div class="row justify-content-center">
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=29" class="img-fluid mb-2"/>
                          </a>
                        </div>
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=30" class="img-fluid mb-2"/>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row justify-content-center">
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=31" class="img-fluid mb-2"/>
                          </a>
                        </div>
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=32" class="img-fluid mb-2"/>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-dafault">
              <div class="card-header">
                <h4 class="card-title">B반 자리배치도</h4>
              </div>
              <div class="card-body">
                <div class="filter-container-fluid">
                  <div class="row justify-content-center" id="brow1">
                    <div class="col-sm-6">
                      <div class="row justify-content-center">
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=1" class="img-fluid mb-2"/>
                          </a>
                        </div>
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=2" class="img-fluid mb-2"/>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row justify-content-center">
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=3" class="img-fluid mb-2"/>
                          </a>
                        </div>
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=4" class="img-fluid mb-2"/>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-center" id="brow2">
                    <div class="col-sm-6">
                      <div class="row justify-content-center">
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=5" class="img-fluid mb-2"/>
                          </a>
                        </div>
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=6" class="img-fluid mb-2"/>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row justify-content-center">
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=7" class="img-fluid mb-2"/>
                          </a>
                        </div>
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=8" class="img-fluid mb-2"/>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-center mb-5" id="brow3">
                    <div class="col-sm-6">
                      <div class="row justify-content-center">
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=9" class="img-fluid mb-2"/>
                          </a>
                        </div>
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=10" class="img-fluid mb-2"/>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row justify-content-center">
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=11" class="img-fluid mb-2"/>
                          </a>
                        </div>
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=12" class="img-fluid mb-2"/>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-center" id="brow4">
                    <div class="col-sm-6">
                      <div class="row justify-content-center">
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=13" class="img-fluid mb-2"/>
                          </a>
                        </div>
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=14" class="img-fluid mb-2"/>
                          </a>
                        </div>
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=15" class="img-fluid mb-2"/>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-center" id="brow5">
                    <div class="col-sm-6">
                      <div class="row justify-content-center">
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=16" class="img-fluid mb-2"/>
                          </a>
                        </div>
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=17" class="img-fluid mb-2"/>
                          </a>
                        </div>
                        <div class="filtr-item col-sm-3">
                          <a onclick="infoModal(this)">
                            <img src="https://via.placeholder.com/300/c5cae9/000000?text=18" class="img-fluid mb-2"/>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <div id="galleryModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="text-center mb-0 text-muted">info</h3>
          <button type="button" class="close float-right" aria-label="Close" data-dismiss="modal">
            <span aria-hidden="true">&#xD7;</span>
          </button>
        </div>
        <div class="modal-body text-center bg-alt p-5">
          <div class="row">
            <div class="col-5 text-center align-self-center">
              <img src="/dist/img/user1-128x128.jpg" alt="사진" class="img-circle img-fluid mb-3">
              <h2 class="lead"><b id="name">이름</b></h2>
            </div>
            <div class="col-7">
              <p class="text-muted text-sm" id="birth"><b>생년월일: </b></p>
              <p class="text-muted text-sm" id="phone"><span><i class="fas fa-lg fa-phone"></i></span></p>
              <p class="text-muted text-sm" id="email"><span><i class="fas fa-envelope"></i></span></p>
              <p class="text-muted text-sm" id="residence"><b>거주지: </b></p>
              <p class="text-muted text-sm" id="belong"><b>소속: </b></p>
              <p class="text-muted text-sm" id="major"><b>전공: </b></p>
              <p class="text-muted text-sm" id="graduate"><b>최종 학력: </b></p>
              <p class="text-muted text-sm" id="start"><b>수강시작일: </b></p>
              <p class="text-muted text-sm" id="note"><b>특이사항: </b></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</th:block>
</html>
